.yourinfo{

}

.your_info_components{
  height: 80px;
  width: 351px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 5px;
}

.your_info_component1{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.your_space_airbnb{
  /*font*/
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-decoration: none solid rgb(34, 34, 34);
  white-space: nowrap;
  word-spacing: 0px;
  /*====*/
  height: 42px;
  width: 225px;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.your_space_airbnb:hover {
  background-color: #f5f5f5;
}

/* .your_space_airbnb_text{

} */

.earth_icon{
  border-radius: 50%;
  width: 42px;
  height: 40px;
  cursor: pointer;
  border: 0px;
  background-color: #ffffff;
}

.earth_icon:hover {
  background-color: #f5f5f5;
}

.svgfile{
  height: 16px; width: 16px; fill: currentcolor; position: relative; top: 2px;  
}

.your_info_component2{
  display: flex;
  align-items: center;
}

.nav_button{
  width: 77px;
  height: 42px;
  border-radius: 21px;
  cursor: pointer;
  background-color: #ffffff;
  border: 0.5px solid #ccc;
}

.nav_button:hover {
  box-shadow: 0px 1.5px 4px 0px #cecece;
}

.nav_button_img_1{
  fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 3; overflow: visible; position: relative; bottom: 4px;
}

.nav_button_img_2{
  height: 29px; width: 29px; fill: currentcolor; position: relative; left: 6px; top:2px;
}