.container2 {
  border: 1px solid aliceblue;
  background-color: aliceblue;
  height: 2000px;
  top: 178px;
  position: relative;
  padding: 20px 80px 0 80px;
}

.container2_wrap {
  height: 100%;
  margin: 24px 0 24px 0;
}

.container2_components {
   /* box-sizing: border-box; */
  display: grid;
  grid-template-columns: repeat(6,1fr);
  /* grid-template-columns: 270.5px 270.5px 270.5px 270.5px 270.5px 270.5px; */
  grid-template-rows: 357.438px 357.438px 357.438px 357.438px 357.438px;
  grid-column-gap: 24px;
  grid-row-gap: 40px; 


  
}

@media (max-width: 549px) {
  .container2_components {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 550px) {
  .container2_components {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 950px) {
  .container2_components {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1128px) {
  .container2_components {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1640px) {
  .container2_components {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1880px) {
  .container2_components {
    grid-template-columns: repeat(6, 1fr);
  }
}