#pinning-header .main-header{
    align-items: center;
    display: flex;
    height: 41px;
    font-size: 1.2rem;
    padding: 0 4%;
    position: relative;
    transition: background-color .4s;
    z-index: 2;
    background-image: linear-gradient(180deg, rgba(0,0,0,.7) 10%, transparent);
}
.pinning-header-container{
    top: 0px; 
    position: relative; 
    background: transparent;
}

ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li{
    display: list-item;
    text-align: -webkit-match-parent;
}

.menu-navigation{
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
}

.select-menu{
    list-style-type: none;
    margin-left: 18px;
    @media screen and (min-width: 885px) {
        display: none;
    }
}
.navigation-tab{
    align-items: center;
    display: none;
    font-weight: 500;
    height: 100%;
    margin-left: 18px;
    list-style-type: none;

    @media screen and (min-width: 885px) {
        display: block;
    }
}

a{
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
}

