.search {
  /* border: 1px solid pink; */
  flex: 0 1 auto;
  min-width: 348px;
  align-self: center;
  padding: 0 24px 0 24px;
  width: 363.062px;
  height: 48px;
}

.search_wrap {
  /* border: 1px solid pink; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.search_button1_wrap {
  width: 88px;
  align-self: center;
  height: 100%;
}
.search_button1 {
  border: 1px solid #ccc;
  border-right: none;
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  padding: 0;
  background-color: white;
  font-weight: 600;

}

.search_button2_wrap {
  width: 119px;
  align-self: center;
  height: 100%;
}

.search_button2 {
  border: 1px solid #ccc;

  border-left: none;
  border-right: none;
  height: 100%;
  width: 100%;
  padding: 0;
  background-color: white;
  display: flex;
  justify-content: center;
}

.search_button2_component1 {
  padding: 3px 16px 0 16px;
  align-self: center;
  height: 22px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  font-weight: 600;

}

.search_button3_wrap {
  width: 144px;
  align-self: center;
  height: 100%;
}

.search_button3 {
  border: 1px solid #ccc;

  border-left: none;
  height: 100%;
  width: 100%;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;

}

.search_button3_component1 {
  width: 73.078px;
  padding: 0 16px 0 16px;
  white-space : nowrap;
}

.search_button3_component2 {
  fill: none;
  stroke: currentColor;
  stroke-width: 5.33333; 
  overflow: visible;
  width: 12px;
  height: 12px;
  padding: 10px 10px 10px 10px;
  margin: 7px 7px 7px 0px;
  border-radius: 50%;
  background-color: #ff385f;
  color: #FFFFFF;
}
