body{
  word-break: keep-all;
  -webkit-font-smoothing: antialiased;
  background: #141414;
  color: #fff;
  cursor: default;
  display: block;
  font-family: 'Segoe UI', sans-serif;
  font-size: 10px;
  line-height: 1.2;
  user-select: none;
  margin: 0;
  @media screen {
    font-size: .85vw;
  }
}

*{
  letter-spacing: 0!important;
}