/* 회원가입, 로그인, 고객센터 */
.topBar,
.help {
  padding-right: 10px;
  padding-left: 10px;
}

.helpContainer {
  display: flex;
  justify-content: right;
}

.helpBox {
  border: 1px solid lightgrey;
  width: 95px;
  margin-top: 10px;
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: 6px;
  background-color: white;
}

.help:hover > .helpContainer > .helpBox {
  display: flex;
}

.helpList {
  margin: 4px;
  font-size: 13px;
  text-decoration: none;
  color: black;
}

/* 검색어 입력 줄 */
.marketM {
  padding: 15px;
  color: rgb(95, 0, 128);
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}

.beautyM {
  padding-left: 15px;
  border-left: 1px solid rgb(217, 217, 217);
  color: #b5b5b5;
  display: flex;
  flex-direction: row;
  margin-right: 60px;
  font-size: 18px;
  text-decoration: none;
}

.marketB {
  padding: 15px;
  color: #b5b5b5;
  font-size: 18px;
  text-decoration: none;
}

.beautyB {
  padding-left: 15px;
  border-left: 1px solid rgb(217, 217, 217);
  color: rgb(95, 0, 128);
  display: flex;
  flex-direction: row;
  margin-right: 60px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

.beautyM:hover,
.marketM:hover,
.beautyB:hover,
.marketB:hover {
  color: rgb(95, 0, 128);
  font-weight: 600;
  cursor: pointer;
}

/* 카테고리 줄 */
.ctgLine {
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 600;
}

.list {
  font-weight: 500;
  margin-right: 100px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.list:hover {
  color: rgb(95, 0, 128);
  text-decoration-line: underline;
  cursor: pointer;
}

.ctg {
  margin-left: 110px;
  margin-right: 150px;
  display: flex;
  width: 100px;
  align-items: center;
}

.ctgContainer {
  overflow-y: scroll;
  height: 300px;
  width: 250px;
  position: absolute;
  background-color: white;
  border: 1px solid rgb(205, 205, 205);
  z-index: 1;
  top: 160px;
  display: none;
}

.ctg:hover > .ctgList {
  color: rgb(95, 0, 128);
  cursor: pointer;
}

.ctg:hover > .ctgContainer {
  display: block;
  cursor: pointer;
}

.ctgName {
  display: flex;
  align-items: center;
  height: 25px;
  padding: 10px 0px 10px 10px;
}

.ctgName:hover {
  background-color: rgb(244, 244, 244);
  color: rgb(95, 0, 128);
}

.ctgImg {
  width: 25px;
  margin-right: 10px;
}

/* 배너 */
.banner {
  display: flex;
  width: 1848px;
  height: 370px;
}

.arrowL,
.arrowR {
  position: relative;
  height: 52px;
  top: 154px;
  opacity: 0;
  transition: all 0.5s ease-out 0s;
}

.arrowL {
  left: 460px;
  transform: rotate(180deg);
}

.arrowR {
  right: 460px;
}

.banner:hover {
  cursor: pointer;
}

.banner:hover > .arrowL,
.banner:hover > .arrowR {
  opacity: 1;
  transition: all 0.5s ease-in 0s;
}

/* 이 상품 어때요? */
.imgWrap {
  width: 249px;
  height: 320px;
  margin-right: 15px;
  margin-bottom: 200px;
}

.imgBox {
  width: 249px;
  height: 320px;
  transform: scale(1);
  transition: 0.5s;
}

.imgBox:hover {
  transform: scale(1.025);
  transition: 0.5s;
  overflow-block: 0;
}

.kart {
  width: 50px;
  height: 50px;
  position: relative;
  top: 255px;
  right: 65px;
}

.deliver {
  margin-top: 15px;
  color: rgb(176, 176, 176);
  font-size: 14px;
  font-weight: 500;
}

.product {
  margin-top: 5px;
  font-size: 18px;
}

.content {
  margin-top: 5px;
  font-size: 12px;
  color: rgb(176, 176, 176);
}

.price {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 700;
}

.regularPrice {
  text-decoration: line-through;
  font-size: 14px;
  color: rgb(176, 176, 176);
}

.review {
  margin-top: 10px;
  display: flex;
}

.reviewIcon {
  width: 14px;
  margin-right: 3px;
}

.reviewNum {
  font-size: 13px;
  color: rgb(176, 176, 176);
  font-weight: 500;
}

/* 자세한 사항 */
.inquire {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.inquireList {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 3px;
  margin-right: 16px;
  width: 140px;
  height: 40px;
  color: #333;
}

.inquireTime {
  margin-top: 2px;
  color: rgb(153, 153, 153);
  font-size: 14px;
}

.about {
  margin-right: 5px;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.sns {
  height: 30px;
  margin-right: 10px;
}

.coworkers {
  display: flex;
  font-size: 10px;
  color: rgb(153, 153, 153);
  line-height: 14.5px;
  align-items: center;
  margin-bottom: 33px;
}

/* 최하단 */
.bottom {
  background-color: rgb(247, 247, 247);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  font-size: 10px;
  color: rgb(153, 153, 153);
  line-height: 15px;
}
