.header {
  border: 1px solid red;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 1;
  padding: 0 80px 0 80px;
}

.header_wrap {
  display: flex;
  flex-direction: row;
  height: 100%;

}