.header {
  /*indicator*/
  /* border: 1px solid black; */
  border-bottom: 1px solid #ccc;
  /*=========*/
  /*Box*/
  height: 80px;
  width: 941px;
  max-width: 2520px;
  background-color: #ffffff;
  /*===*/
  /*Position*/
  display: flex;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 1;
  /*========*/
}

.header_wrap {
  /*indicator*/
  /* border: 1px solid red; */
  /*=========*/
  /*Box*/
  height: 100%;
  width: 861px;
  margin: 0 auto;
  /*===*/
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}