.mapbutton {
  display: flex;
  flex-direction: row;
  grid-area: center;
  justify-self: center;
  align-self: end;
  height: 48px;
  margin-bottom: 40px;
  border-radius: 24px;
  background-color: black;
  color: white;
}

.mapbutton_svg {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1.33333; 
  display: block; 
  height: 16px;
  width: 16px;
  fill: var(--f-mkcy-f);
}

.mapbutton_span {
  border: 1px;
  padding: 14px 19px 14px 19px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.mapbutton_font {
  font-size: 14px;
  font-weight: 800;
  line-height: 18px;
}